.neo-paginator {
    display: flex;
    align-items: center;
    .paginator-info {
        width: 100%;
        text-align: left;
    }
    .paginator {
        display: flex;
        align-items: center;
        padding: 0;
        list-style: none;
        margin: 0;
        .page-link:hover {
            cursor: pointer;
        }
        .page-item {
            margin-right: 0;
            &.disabled .page-link {
                background-color: #e8e8e8;
                color: #bbb;
            }
            &.active {
                pointer-events: none;
            }
        }
    }
}